
* {
  text-shadow: 5px 5px 10px black, 0 0 1em black, 0 0 .25em white;
  text-align: center;
}

h3{
  font-size: 30px;
}

p{
  color: white;
  font-size: 25px;
  opacity: 1;
}

.maincontainer{
  background-image: url("./img/snowboard-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid green;
}

.first{
  width: 50vh;
  height: 100vh;
  text-align: center;
}

.second{
  width: 100vh;
  height: 100vh;
  text-align: center;
}

.third{
  width: 50vh;
  height: 100vh;
  text-align: center;
}

.fourth{
  width: 85vh;
  height: 100vh;
  text-align: center;
}

.carousel{
  display: flex;
  justify-content: center;
}
